main workflow webform automation.json
{
  "name": "With TS",
  "nodes": [
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14",
          "mode": "list",
          "cachedResultName": "Version 2 Innovista messages log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Islamabad",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json[\"TimeSamp\"].split(\" \")[1].replace(\",\", \"\") + \" \" + $json[\"TimeSamp\"].split(\" \")[0].split(\"-\")[2] + \" \" + $json[\"TimeSamp\"].split(\" \")[2] }}",
            "Time": "={{ $json[\"TimeSamp\"].split(\" \")[3] }}",
            "Full-Name": "={{ $json.body['Full-Name'] }}",
            "Email-Address": "={{ $json.body['Email-Address'] }}",
            "Phone-Number": "={{ $json.body['Phone-Number'] }}",
            "Package-Interested": "={{ $json.body['Package-Interested'] }}",
            "Select-Chapter": "={{ $json.body['Select-Chapter'] }}",
            "Message": "={{ $json.body.Message }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full-Name",
              "displayName": "Full-Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email-Address",
              "displayName": "Email-Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone-Number",
              "displayName": "Phone-Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Package-Interested",
              "displayName": "Package-Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Select-Chapter",
              "displayName": "Select-Chapter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        -208
      ],
      "id": "f14de050-dc7b-4d5f-9a44-a562e8e98c3a",
      "name": "Islamabad",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bE3BwwHFH5eaIqMy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14",
          "mode": "list",
          "cachedResultName": "Version 2 Innovista messages log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 203117331,
          "mode": "list",
          "cachedResultName": "Quetta",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit#gid=203117331"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full-Name": "={{ $json.body['Full-Name'] }}",
            "Email-Address": "={{ $json.body['Email-Address'] }}",
            "Phone-Number": "={{ $json.body['Phone-Number'] }}",
            "Package-Interested": "={{ $json.body['Package-Interested'] }}",
            "Select-Chapter": "={{ $json.body['Select-Chapter'] }}",
            "Message": "={{ $json.body.Message }}",
            "Date": "={{ $json[\"TimeSamp\"].split(\" \")[1].replace(\",\", \"\") + \" \" + $json[\"TimeSamp\"].split(\" \")[0].split(\"-\")[2] + \" \" + $json[\"TimeSamp\"].split(\" \")[2] }}",
            "Time": "={{ $json[\"TimeSamp\"].split(\" \")[3] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full-Name",
              "displayName": "Full-Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email-Address",
              "displayName": "Email-Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone-Number",
              "displayName": "Phone-Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Package-Interested",
              "displayName": "Package-Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Select-Chapter",
              "displayName": "Select-Chapter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        -16
      ],
      "id": "00994cfb-d641-4959-b469-52e436ae1133",
      "name": "Quetta",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bE3BwwHFH5eaIqMy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14",
          "mode": "list",
          "cachedResultName": "Version 2 Innovista messages log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2142336119,
          "mode": "list",
          "cachedResultName": "Lahore",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit#gid=2142336119"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full-Name": "={{ $json.body['Full-Name'] }}",
            "Email-Address": "={{ $json.body['Email-Address'] }}",
            "Phone-Number": "={{ $json.body['Phone-Number'] }}",
            "Package-Interested": "={{ $json.body['Package-Interested'] }}",
            "Select-Chapter": "={{ $json.body['Select-Chapter'] }}",
            "Message": "={{ $json.body.Message }}",
            "Time": "={{ $json[\"TimeSamp\"].split(\" \")[3] }}",
            "Date": "={{ $json[\"TimeSamp\"].split(\" \")[1].replace(\",\", \"\") + \" \" + $json[\"TimeSamp\"].split(\" \")[0].split(\"-\")[2] + \" \" + $json[\"TimeSamp\"].split(\" \")[2] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full-Name",
              "displayName": "Full-Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email-Address",
              "displayName": "Email-Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone-Number",
              "displayName": "Phone-Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Package-Interested",
              "displayName": "Package-Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Select-Chapter",
              "displayName": "Select-Chapter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        176
      ],
      "id": "c63a1788-fcff-49d4-91c1-da491a2fa6bc",
      "name": "Lahore",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bE3BwwHFH5eaIqMy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14",
          "mode": "list",
          "cachedResultName": "Version 2 Innovista messages log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1636642362,
          "mode": "list",
          "cachedResultName": "Karachi",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit#gid=1636642362"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full-Name": "={{ $json.body['Full-Name'] }}",
            "Email-Address": "={{ $json.body['Email-Address'] }}",
            "Phone-Number": "={{ $json.body['Phone-Number'] }}",
            "Package-Interested": "={{ $json.body['Package-Interested'] }}",
            "Select-Chapter": "={{ $json.body['Select-Chapter'] }}",
            "Message": "={{ $json.body.Message }}",
            "Date": "={{ $json[\"TimeSamp\"].split(\" \")[1].replace(\",\", \"\") + \" \" + $json[\"TimeSamp\"].split(\" \")[0].split(\"-\")[2] + \" \" + $json[\"TimeSamp\"].split(\" \")[2] }}",
            "Time": "={{ $json[\"TimeSamp\"].split(\" \")[3] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full-Name",
              "displayName": "Full-Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email-Address",
              "displayName": "Email-Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone-Number",
              "displayName": "Phone-Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Package-Interested",
              "displayName": "Package-Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Select-Chapter",
              "displayName": "Select-Chapter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        368
      ],
      "id": "1c88391c-66f8-4846-937c-7977c7f33f20",
      "name": "Karachi",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bE3BwwHFH5eaIqMy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14",
          "mode": "list",
          "cachedResultName": "Version 2 Innovista messages log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 927092135,
          "mode": "list",
          "cachedResultName": "Multan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit#gid=927092135"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full-Name": "={{ $json.body['Full-Name'] }}",
            "Email-Address": "={{ $json.body['Email-Address'] }}",
            "Phone-Number": "={{ $json.body['Phone-Number'] }}",
            "Package-Interested": "={{ $json.body['Package-Interested'] }}",
            "Select-Chapter": "={{ $json.body['Select-Chapter'] }}",
            "Message": "={{ $json.body.Message }}",
            "Date": "={{ $json[\"TimeSamp\"].split(\" \")[1].replace(\",\", \"\") + \" \" + $json[\"TimeSamp\"].split(\" \")[0].split(\"-\")[2] + \" \" + $json[\"TimeSamp\"].split(\" \")[2] }}",
            "Time": "={{ $json[\"TimeSamp\"].split(\" \")[3] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full-Name",
              "displayName": "Full-Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email-Address",
              "displayName": "Email-Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone-Number",
              "displayName": "Phone-Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Package-Interested",
              "displayName": "Package-Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Select-Chapter",
              "displayName": "Select-Chapter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        560
      ],
      "id": "c6b6b20c-7abe-4380-9f95-f3adc428dedc",
      "name": "Multan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bE3BwwHFH5eaIqMy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14",
          "mode": "list",
          "cachedResultName": "Version 2 Innovista messages log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 202178935,
          "mode": "list",
          "cachedResultName": "Gujranwala",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1s8eZh9rdh8moGvmAvu4-tN89n28gtCmcnSCddC98G-g/edit#gid=202178935"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full-Name": "={{ $json.body['Full-Name'] }}",
            "Email-Address": "={{ $json.body['Email-Address'] }}",
            "Phone-Number": "={{ $json.body['Phone-Number'] }}",
            "Package-Interested": "={{ $json.body['Package-Interested'] }}",
            "Select-Chapter": "={{ $json.body['Select-Chapter'] }}",
            "Message": "={{ $json.body.Message }}",
            "Date": "={{ $json[\"TimeSamp\"].split(\" \")[1].replace(\",\", \"\") + \" \" + $json[\"TimeSamp\"].split(\" \")[0].split(\"-\")[2] + \" \" + $json[\"TimeSamp\"].split(\" \")[2] }}",
            "Time": "={{ $json[\"TimeSamp\"].split(\" \")[3] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full-Name",
              "displayName": "Full-Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email-Address",
              "displayName": "Email-Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone-Number",
              "displayName": "Phone-Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Package-Interested",
              "displayName": "Package-Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Select-Chapter",
              "displayName": "Select-Chapter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        752
      ],
      "id": "bcc316d6-aa2f-4f6b-82ff-1b60e97f901b",
      "name": "Gujranwala",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bE3BwwHFH5eaIqMy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14",
          "mode": "list",
          "cachedResultName": "Version 2 Innovista messages log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1884600267,
          "mode": "list",
          "cachedResultName": "Bahawalpur",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit#gid=1884600267"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Full-Name": "={{ $json.body['Full-Name'] }}",
            "Email-Address": "={{ $json.body['Email-Address'] }}",
            "Phone-Number": "={{ $json.body['Phone-Number'] }}",
            "Select-Chapter": "={{ $json.body['Select-Chapter'] }}",
            "Package-Interested": "={{ $json.body['Package-Interested'] }}",
            "Time": "={{ $json[\"TimeSamp\"].split(\" \")[3] }}",
            "Date": "={{ $json[\"TimeSamp\"].split(\" \")[1].replace(\",\", \"\") + \" \" + $json[\"TimeSamp\"].split(\" \")[0].split(\"-\")[2] + \" \" + $json[\"TimeSamp\"].split(\" \")[2] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Full-Name",
              "displayName": "Full-Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email-Address",
              "displayName": "Email-Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone-Number",
              "displayName": "Phone-Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Package-Interested",
              "displayName": "Package-Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Select-Chapter",
              "displayName": "Select-Chapter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        944
      ],
      "id": "63729d1a-58f0-4097-83d6-37545dabfbf3",
      "name": "Bahawalpur",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bE3BwwHFH5eaIqMy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14",
          "mode": "list",
          "cachedResultName": "Version 2 Innovista messages log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 903154781,
          "mode": "list",
          "cachedResultName": "Peshawar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_7bN4ijCyI3VbBl1dIJcGItL8aVVAQYDlBJwcmU4s14/edit#gid=903154781"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $json[\"TimeSamp\"].split(\" \")[1].replace(\",\", \"\") + \" \" + $json[\"TimeSamp\"].split(\" \")[0].split(\"-\")[2] + \" \" + $json[\"TimeSamp\"].split(\" \")[2] }}",
            "Full-Name": "={{ $json.body['Full-Name'] }}",
            "Email-Address": "={{ $json.body['Email-Address'] }}",
            "Phone-Number": "={{ $json.body['Phone-Number'] }}",
            "Package-Interested": "={{ $json.body['Package-Interested'] }}",
            "Select-Chapter": "={{ $json.body['Select-Chapter'] }}",
            "Message": "={{ $json.body.Message }}",
            "Time": "={{ $json[\"TimeSamp\"].split(\" \")[3] }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Full-Name",
              "displayName": "Full-Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email-Address",
              "displayName": "Email-Address",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Phone-Number",
              "displayName": "Phone-Number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Package-Interested",
              "displayName": "Package-Interested",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Select-Chapter",
              "displayName": "Select-Chapter",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Message",
              "displayName": "Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        1136
      ],
      "id": "b8e5cafc-2da2-4456-a3b6-5f038ab22360",
      "name": "Peshawar",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bE3BwwHFH5eaIqMy",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d0752ccf-3303-40a2-a200-6e1ec571018f",
                    "leftValue": "={{ $json.body['Select-Chapter'] }}",
                    "rightValue": "Innovista Rawal-Islamabad",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b7dd57c1-b8bb-4d80-9ed7-b93b20f033ac",
                    "leftValue": "={{ $json.body['Select-Chapter'] }}",
                    "rightValue": "Innovista Chaghi- Quetta",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9273d20f-4baf-4775-8ea6-6b1c7245a8d3",
                    "leftValue": "={{ $json.body['Select-Chapter'] }}",
                    "rightValue": "Innovista Ravi- Lahore",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "aad706fb-13b6-4186-92eb-c7de60c908a9",
                    "leftValue": "={{ $json.body['Select-Chapter'] }}",
                    "rightValue": "Innovista Indus-Karachi",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9a964af4-7f99-4571-8d6d-82c3137e041b",
                    "leftValue": "={{ $json.body['Select-Chapter'] }}",
                    "rightValue": "Innovista Chenab- Multan",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "51551dcd-a534-49b8-95c6-920039a72ac4",
                    "leftValue": "={{ $json.body['Select-Chapter'] }}",
                    "rightValue": "Innovista Rachna- Gujranwala",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "32262663-ec96-4eb7-97d7-e901aa9ee73a",
                    "leftValue": "={{ $json.body['Select-Chapter'] }}",
                    "rightValue": "Innovista Cholistan- Bahawalpur",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "58966887-fc2d-41ba-88e1-cf3e0348b5a3",
                    "leftValue": "={{ $json.body['Select-Chapter'] }}",
                    "rightValue": "Innovista Khyber- Peshawar",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -368,
        368
      ],
      "id": "c0fe8d52-7878-4ae9-81c0-e746a3bd6516",
      "name": "Chapter Wise Distribution"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae8352bc-84fd-4805-8458-457f236ae326",
              "name": "TimeSamp",
              "value": "={{ $now.format(\"YYYY-MM-DD HH:mm:ss\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        560
      ],
      "id": "3f350416-6b40-4ebb-a88d-eb3116ce1327",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "62e5236d-7168-4796-bf87-8ec11bcc6dd4",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        464
      ],
      "id": "7d057c42-f6e5-4900-a7bf-2ca06b9670a0",
      "name": "Webhook",
      "webhookId": "62e5236d-7168-4796-bf87-8ec11bcc6dd4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae8352bc-84fd-4805-8458-457f236ae326",
              "name": "TimeSamp",
              "value": "={{ $now.format(\"YYYY-MM-DD HH:mm:ss\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        -208
      ],
      "id": "9d304c00-67fe-4087-a070-42d901b692f6",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae8352bc-84fd-4805-8458-457f236ae326",
              "name": "TimeSamp",
              "value": "={{ $now.format(\"YYYY-MM-DD HH:mm:ss\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        -16
      ],
      "id": "eb820591-0b9e-4b38-93ba-47d5aa5e3300",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae8352bc-84fd-4805-8458-457f236ae326",
              "name": "TimeSamp",
              "value": "={{ $now.format(\"YYYY-MM-DD HH:mm:ss\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        176
      ],
      "id": "93d4542b-7d0b-48a1-9e7a-ec7f3c6080bc",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae8352bc-84fd-4805-8458-457f236ae326",
              "name": "TimeSamp",
              "value": "={{ $now.format(\"YYYY-MM-DD HH:mm:ss\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        368
      ],
      "id": "306d45d0-3dec-4d5b-8745-4d0a92945105",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae8352bc-84fd-4805-8458-457f236ae326",
              "name": "TimeSamp",
              "value": "={{ $now.format(\"YYYY-MM-DD HH:mm:ss\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        752
      ],
      "id": "52dfbba0-d5c6-4e91-a274-e262b0df8eab",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae8352bc-84fd-4805-8458-457f236ae326",
              "name": "TimeSamp",
              "value": "={{ $now.format(\"YYYY-MM-DD HH:mm:ss\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        944
      ],
      "id": "afa1c9f2-40bb-43df-b588-9cfc8717d97a",
      "name": "Edit Fields6"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ae8352bc-84fd-4805-8458-457f236ae326",
              "name": "TimeSamp",
              "value": "={{ $now.format(\"YYYY-MM-DD HH:mm:ss\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -144,
        1136
      ],
      "id": "718aeb56-c556-4176-913d-3eced2229f7c",
      "name": "Edit Fields7"
    }
  ],
  "pinData": {},
  "connections": {
    "Chapter Wise Distribution": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Multan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Chapter Wise Distribution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Islamabad",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Quetta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Lahore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Karachi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Gujranwala",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields6": {
      "main": [
        [
          {
            "node": "Bahawalpur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields7": {
      "main": [
        [
          {
            "node": "Peshawar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e6abefb6-9997-4097-9d9a-9df6ad29e562",
  "meta": {
    "instanceId": "4fcf1977032560f488e5e512a83a3f0808fa7de8a03608a945571aac957e47b1"
  },
  "id": "kI90XQrDqUIqpTHG",
  "tags": []
}